In [1]:
import pandas as pd

In [6]:
df_train = pd.read_csv('data/train.csv', index_col=0)
df_test = df_train = pd.read_csv('data/test.csv', index_col=0)

In [11]:
df_train.rename({'prompt': 'prompt_text'}, axis=1, inplace=True)
df_test.rename({'prompt': 'prompt_text'}, axis=1, inplace=True)

                                            prompt_text
0     I felt guilty when I was driving home one nigh...
1     My mother stopped by my house one day and said...
2     I just broke up with my girlfriend, we were to...
3             I received concert tickets for Christmas.
4     i've read an article about a little newborn ba...
...                                                 ...
2533  I was totally surprised when I saw my friend's...
2534  Had to cancel our family vacation coming up ne...
2535             I'm glad that life is being good to me
2536  I saw a huge cockroach outside my house today....
2537  I have a big test on Monday. I am so nervous, ...

[2538 rows x 1 columns]